@font-face {
    font-family: Monkey;
    src: url("HappyMonkey-Regular.ttf");
}

body{
    margin: 0;
    background: linear-gradient(#dec4bd, #9d8986);
    text-align: center;
}
.main {
    font-family: Monkey;
    text-shadow: 0 0 1px black;
    color: #0f4b39;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#amy_img {
    width: 350px;
    border-radius: 50%;
    border: 10px solid #ad9b8d;
}

#bday3 {
    background-color: #ad9b8d;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 0;
} 

#bday4 {
    background-color: #ad9b8d;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
}

.gift {
    font-family: Monkey;
    text-shadow: 0 0 1px black;
    color: #0f4b39;
}
.giftbox {
    margin: 0 auto;   
    width: 600px;
    height: 400px;
    background-image: url("images/gift.jpg");
    background-size: cover;
    margin-bottom: 50px;
}

#pop:hover {
    background-image: url("images/happy.webp");
}

#hot:hover {
    background-image: url("images/hot.webp");
}

#cheers {
    height: 300px;
}
#cheers:hover {
    background-image: url("images/cheers.webp");
}

#gift4 {
    margin-top: 0;
}

.foot {
    background-color:#ad9b8d;
    color: rgb(71, 67, 67);
    text-shadow: 0 0 1px black;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
}